
  
  /* .icon-button {
    color: #198754 !important;
  }
  
  .search-bar {
    background-color: #ffffff !important;
    color: #198754 !important;
  } */

  .icon-button {
    color: #212631 !important;
  }
  
  .search-bar {
    background-color: #ffffff !important;
    color: #212631 !important;
  }