.field-list-container {
  padding: 20px; /* Thêm khoảng cách bên trong */
}

.field-content {
  border: 2px solid #ddd; /* Bo viền cho toàn bộ nội dung trong DatabaseFieldList */
  border-radius: 8px; /* Bo tròn các góc */
  padding: 15px; /* Khoảng cách bên trong */
  background-color: #fff; /* Màu nền trắng */
  margin-top: 50px; /* Khoảng cách phía trên */
  margin-bottom: 50px; /* Khoảng cách phía dưới */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  transform: translateX(-45px);
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1; /* Màu nền khi hover trên hàng bảng */
}


.title-background {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.white-background-button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}