.issue-list-container {
    padding: 0px;
  }
  
.issue-card {
    position: relative;
    border: 1px solid #ffffff; /* Viền trắng */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
.issue-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
.add-issue-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }
  
.issue-content {
    border: 2px solid #ddd;
    border-radius: 8px;
    min-height: 700px;
    padding: 15px;
    background-color: #fff;
    transform: translateX(-15px);
    margin-top: 20px;
    margin-bottom:20px;
  }
