.project-detail-container {
  background-color: #e6f7e6; /* Màu xanh lá rất nhạt */
  padding: 0px;
}

.project-card {
  border: 1px solid #ffffff; /* Viền trắng */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.config{
  transform: translateX(-45px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-content {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  transform: translateX(-45px);
  margin-top: 50px;
  margin-bottom: 50px;
}
