body, html {
  /* background-color: #e6f7e6; */
    background-color: #f3f4f7;
    height: 100%;
    margin: 0;
  }
  
  .card-style {
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .card-style:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .buttons-style {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .card-style:hover .buttons-style {
    display: flex;
  }
  
  .content-style {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
    transform: translateX(-12px);
    margin-top: 20px;
    min-height: 500px;
    margin-bottom: 20px;
  }
  

  .vertical-tabs {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: #212631;
    /* background-color: #198754; */
  }
  
  .nav-link {
    font-weight: normal;
    transition: font-weight 0.3s ease;
  }
  
  .nav-link.active {
    font-weight: bold;
  }
  .icon-size {
    width: 20px;
    height: 20px;
  }

  
  .normal {
    background-color: #198754;
  }

  .danger {
    background-color: #ff0000;
  }

  .warning {
    background-color: #ffc107;
  }

  .success {
    background-color: #198754;
  }

  .info {
    background-color: #0dcaf0;
  }

  .primary {
    background-color: #0d6efd;
  }

  .secondary {
    background-color: #6c757d;
  }

  .light {
    background-color: #f8f9fa;
  }

  .dark {
    background-color: #212529;
  }