.task-detail-container {
  padding: 0px;
}

.task-detail-container .card {
  margin-top: 20px;
}

.task-detail-container .card-body {
  padding: 20px;
}

.task-detail-container .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-detail-container .form-control {
  margin-top: 10px;
  margin-bottom: 10px;
}

.task-detail-container .btn {
  margin-right: 10px;
}
