.task-detail-container {
  padding: 20px;
}

.task-detail-container ul {
  list-style-type: none;
  padding-left: 0;
}

.task-detail-container ul li {
  padding: 5px 0;
}

.assigned-user-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #3f51b5; /* Màu sắc tùy chỉnh */
}
