.task-list-container {
  padding: 0px;
}

.task-card {
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.task-content {
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  transform: translateX(-45px);
}


.config{
  transform: translateX(-20px);
}