.vertical-tabs {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: #212631;
}

.nav-link {
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.nav-link.active {
  font-weight: bold;
}
.icon-size {
  width: 20px;
  height: 20px;
}